<!--The content below is only a placeholder and can be replaced.-->
<carousel-component #topCarousel>
  <div class="item-carousel">a</div>
  <div class="item-carousel">
      <div class="b">
      </div>
  </div>
  <div class="item-carousel">c</div>
  <div class="item-carousel">d</div>
  <div class="item-carousel">d</div>
  <div class="item-carousel">d</div>
  <div class="item-carousel">d</div>
  <div class="item-carousel">d</div>
  <div class="item-carousel">d</div>
</carousel-component>

<div class="parameters-content">
  <div class="parameter-option">
    <button (click)="prev()">Prev</button>
  </div>
  <div class="parameter-option">
    <button (click)="next()">Next</button>
  </div>
  <div class="parameter-option">
    <button (click)="toggle()">TOGGLE</button>
  </div>
</div>

<router-outlet></router-outlet>
